<div class="w-full flex flex-col " *ngIf="trackData">
  <div class="max-w-5xl mx-auto w-full border text-slate-800">
      <div class="w-full flex flex-col p-4">
        <h2 class="w-full my-4 text-3xl font-bold text-slate-800">Трек {{ trackData.track }}</h2>
        <div class="flex justify-between w-full content-end">
            <span class="font-bold">
                {{trackData.status}}
            </span>
            <h3 class="text-sm">{{ trackData.date }}</h3>
        </div>
      </div>
      <div class="w-full border-t font-medium">
        <div class="p-4 flex flex-col gap-2 text-slate-800">
            
            <span>
                <span class="text-slate-400">От кого: </span> {{trackData.sender_name}}
            </span>
            <span>
                <span class="text-slate-400">Откуда: </span> {{trackData.sender_city}}
            </span>
            <span>
                <span class="text-slate-400">Кому: </span> {{trackData.receiver_name}}
            </span>
            <span>
                <span class="text-slate-400">Куда: </span> {{trackData.receiver_city}}
            </span>
           
            <span>
                <span class="text-slate-400">Местоположение: </span> {{trackData.city}}
            </span>
            <span *ngIf="trackData.weight">
                <span class="text-slate-400">Вес: </span> {{trackData.weight}}
            </span>
        </div>
      </div>
  </div>
</div>
